@font-face {
    font-family: 'Skiff';
    src: url('Skiff-Regular.eot');
    src: local('Skiff Regular'), local('Skiff-Regular'),
        url('Skiff-Regular.eot?#iefix') format('embedded-opentype'),
        url('Skiff-Regular.woff2') format('woff2'),
        url('Skiff-Regular.woff') format('woff'),
        url('Skiff-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-ExtraLightItalic.eot');
    src: local('Skiff ExtraLight Italic'), local('Skiff-ExtraLightItalic'),
        url('Skiff-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Skiff-ExtraLightItalic.woff2') format('woff2'),
        url('Skiff-ExtraLightItalic.woff') format('woff'),
        url('Skiff-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-BoldItalic.eot');
    src: local('Skiff Bold Italic'), local('Skiff-BoldItalic'),
        url('Skiff-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Skiff-BoldItalic.woff2') format('woff2'),
        url('Skiff-BoldItalic.woff') format('woff'),
        url('Skiff-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-LightItalic.eot');
    src: local('Skiff Light Italic'), local('Skiff-LightItalic'),
        url('Skiff-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Skiff-LightItalic.woff2') format('woff2'),
        url('Skiff-LightItalic.woff') format('woff'),
        url('Skiff-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-RegularItalic.eot');
    src: local('Skiff Regular Italic'), local('Skiff-RegularItalic'),
        url('Skiff-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Skiff-RegularItalic.woff2') format('woff2'),
        url('Skiff-RegularItalic.woff') format('woff'),
        url('Skiff-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-SemiBoldItalic.eot');
    src: local('Skiff SemiBold Italic'), local('Skiff-SemiBoldItalic'),
        url('Skiff-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Skiff-SemiBoldItalic.woff2') format('woff2'),
        url('Skiff-SemiBoldItalic.woff') format('woff'),
        url('Skiff-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-ExtraBoldItalic.eot');
    src: local('Skiff ExtraBold Italic'), local('Skiff-ExtraBoldItalic'),
        url('Skiff-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Skiff-ExtraBoldItalic.woff2') format('woff2'),
        url('Skiff-ExtraBoldItalic.woff') format('woff'),
        url('Skiff-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-Thin.eot');
    src: local('Skiff Thin'), local('Skiff-Thin'),
        url('Skiff-Thin.eot?#iefix') format('embedded-opentype'),
        url('Skiff-Thin.woff2') format('woff2'),
        url('Skiff-Thin.woff') format('woff'),
        url('Skiff-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-SemiBold.eot');
    src: local('Skiff SemiBold'), local('Skiff-SemiBold'),
        url('Skiff-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Skiff-SemiBold.woff2') format('woff2'),
        url('Skiff-SemiBold.woff') format('woff'),
        url('Skiff-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-ExtraBold.eot');
    src: local('Skiff ExtraBold'), local('Skiff-ExtraBold'),
        url('Skiff-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Skiff-ExtraBold.woff2') format('woff2'),
        url('Skiff-ExtraBold.woff') format('woff'),
        url('Skiff-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-ThinItalic.eot');
    src: local('Skiff Thin Italic'), local('Skiff-ThinItalic'),
        url('Skiff-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Skiff-ThinItalic.woff2') format('woff2'),
        url('Skiff-ThinItalic.woff') format('woff'),
        url('Skiff-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-Bold.eot');
    src: local('Skiff Bold'), local('Skiff-Bold'),
        url('Skiff-Bold.eot?#iefix') format('embedded-opentype'),
        url('Skiff-Bold.woff2') format('woff2'),
        url('Skiff-Bold.woff') format('woff'),
        url('Skiff-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-Light.eot');
    src: local('Skiff Light'), local('Skiff-Light'),
        url('Skiff-Light.eot?#iefix') format('embedded-opentype'),
        url('Skiff-Light.woff2') format('woff2'),
        url('Skiff-Light.woff') format('woff'),
        url('Skiff-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-BlackItalic.eot');
    src: local('Skiff Black Italic'), local('Skiff-BlackItalic'),
        url('Skiff-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Skiff-BlackItalic.woff2') format('woff2'),
        url('Skiff-BlackItalic.woff') format('woff'),
        url('Skiff-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-Black.eot');
    src: local('Skiff Black'), local('Skiff-Black'),
        url('Skiff-Black.eot?#iefix') format('embedded-opentype'),
        url('Skiff-Black.woff2') format('woff2'),
        url('Skiff-Black.woff') format('woff'),
        url('Skiff-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-Medium.eot');
    src: local('Skiff Medium'), local('Skiff-Medium'),
        url('Skiff-Medium.eot?#iefix') format('embedded-opentype'),
        url('Skiff-Medium.woff2') format('woff2'),
        url('Skiff-Medium.woff') format('woff'),
        url('Skiff-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-MediumItalic.eot');
    src: local('Skiff Medium Italic'), local('Skiff-MediumItalic'),
        url('Skiff-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Skiff-MediumItalic.woff2') format('woff2'),
        url('Skiff-MediumItalic.woff') format('woff'),
        url('Skiff-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Skiff';
    src: url('Skiff-ExtraLight.eot');
    src: local('Skiff ExtraLight'), local('Skiff-ExtraLight'),
        url('Skiff-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Skiff-ExtraLight.woff2') format('woff2'),
        url('Skiff-ExtraLight.woff') format('woff'),
        url('Skiff-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

