@import "vars";
@import "headerfooter";

.blogdetails-banner {
  min-height: 351px;
  margin-bottom: 69px;
  background-image: url("../img/blog/blogdetails_photo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blogdetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__content {
    max-width: 875px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__heading {
    margin-bottom: 33px;
    color: $grayColor;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 125%;
    letter-spacing: 1px;
  }

  &__text {
    color: $grayColor;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    line-height: 150%;
    font-size: 28px;
  }

  &__img {
    border-radius: 20px;
  }
}
@media (max-width: 768px) {
  .blogdetails-banner {
    min-height: 250px;
    margin-bottom: 50px;
  }
  .blogdetails {
    gap: 26px;
    &__heading {
      margin-bottom: 28px;
      font-size: 22px;
    }
    &__text {
      font-size: 22px;
    }
  }
}
@media (max-width: 425px) {
  .blogdetails-banner {
    min-height: 180px;
    margin-bottom: 38px;
  }
  .blogdetails {
    gap: 24px;
    &__heading {
      margin-bottom: 26px;
      font-size: 20px;
    }
    &__text {
      font-size: 20px;
    }
    &__content {
      padding-left: 44px;
      padding-right: 44px;
    }
  }
}

@media (max-width: 375px) {
  .blogdetails-banner {
    min-height: 161px;
    margin-bottom: 36px;
  }
  .blogdetails {
    gap: 23px;
    &__heading {
      margin-bottom: 24px;
      font-size: 18px;
    }
    &__text {
      font-size: 18px;
    }
    &__content {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

@media (max-width: 320px) {
  .blogdetails-banner {
    min-height: 126px;
    margin-bottom: 33px;
  }
  .blogdetails {
    gap: 22px;
    &__heading {
      margin-bottom: 22px;
      font-size: 16px;
    }
    &__text {
      font-size: 16px;
    }
    &__content {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}
