@import "vars";
@import "headerfooter";

.blogdetails-banner {
  min-height: 351px;
  margin-bottom: 69px;
  background-image: url("../img/blog/blogdetails_photo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blogdetails {
  // height: 1386px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  &__content {
    max-width: 875px;
    // height: 437px;
  }

  &__heading {
    margin-bottom: 33px;
    color: $grayColor;
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
  }

  &__text {
    color: $grayColor;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
    line-height: 150%; /* 33px */
    font-size: 28px;
  }

  &__img {
    border-radius: 70px;
  }
}
