@import "vars";

.cards {
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 21px;
    border-radius: 60px;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-out;

    &:hover {
      background-color: #f4f0ec;
      transition: all 0.6s ease-out;
    }

    &:hover .cards__button {
      background-color: #ffffff;
      transition: all 0.6s ease-out;
    }
  }

  &__img {
    display: flex;
    width: 100%;
    border-radius: 45px 45px 0 0;
  }

  &__tag {
    position: absolute;
    top: 253px;
    left: 52px;
    background-color: #ffffff;
    padding: 4px 20px 8px 11px;
    border-radius: 8px 8px 8px 0;
    color: $grayColor;
    font-family: "Jost";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
    text-transform: capitalize;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }

  &__title {
    @extend %styleTextDMSerifDisplay;
    font-size: 25px;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
  }

  &__boxDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 340px;
  }

  &__date {
    color: $grayColor;
    font-family: "Jost";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
    text-transform: capitalize;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: #f4f0ec;
  }
}
