@import "vars";
@import "fonts";

.header {
  height: 138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 2%;

    &:hover .header__logoText_1 {
      color: $hoverColorTop;
    }
    &:active .header__logoText_1 {
      color: $clickColor;
    }
    &:hover .header__logoText_2 {
      color: $hoverColorTop;
    }
    &:active .header__logoText_2 {
      color: $clickColor;
    }
    &:hover .header__logoImg path {
      fill: $hoverColorTop;
    }
  }

  &__logoImg path {
    transition: all 0.5s ease-out;
  }

  &__logoText_1 {
    font-size: 36px;
    line-height: 125%;
    color: $headerColor;
    font-family: "Albertus Nova", "Jost";
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.22px;
    transition: all 0.5s linear;
  }
  &__logoText_2 {
    font-size: 30px;
    line-height: 125%;
    color: $headerColor;
    font-family: "Albertus Nova", "Jost";
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.22px;
    transition: all 0.5s ease-in;
  }

  &__menu {
    padding-right: 2%;
  }

  &__menuList {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }

  &__menuLink {
    text-wrap: nowrap;
    color: $headerColor;
    text-align: center;
    font-family: "Albertus Nova", "Jost";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    transition: all 0.5s ease-out;

    &:hover {
      color: $hoverColorTop;
    }
    &:active {
      color: $clickColor;
    }
  }
}

.footer {
  margin-top: 150px;
  margin-bottom: 134px;

  &__text,
  &__menuLink {
    color: $grayColor;
    font-family: "Jost";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__text {
    max-width: 393px;
    padding-top: 18px;
    padding-bottom: 31px;
    line-height: 150%;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__iconlink {
    transition: all 0.5s ease-out;
  }

  &__iconlink:hover .footer__icon path {
    fill: $hoverColor;
    transition: all 0.5s ease-out;
  }

  &__iconlink:active .footer__icon path {
    fill: $clickColor;
  }

  &__menubar {
    text-align: center;
  }

  &__heading {
    color: $grayColor;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
    margin-bottom: 10px;
  }

  &__menuList {
    padding-top: 8px;
  }

  &__menuLink {
    line-height: 300%;
    transition: all 0.5s ease-out;

    &:hover {
      color: $hoverColor;
      transition: all 0.5s ease-out;
    }
    &:active {
      color: $clickColor;
    }
  }

  &__contact {
    text-align: end;
    &__heading {
      color: $grayColor-contact;
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 125%;
      margin-bottom: 10px;
    }
    &__address {
      color: $grayColor-contact;
      line-height: 150%;
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: "Jost";
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.22px;
    }
    &__email {
      color: $grayColor-contact;
      font-family: "Jost";
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.22px;
      transition: all 0.5s ease-out;

      &:hover {
        color: $hoverColor;
        transition: all 0.5s ease-out;
      }
      &:active {
        color: $clickColor;
        transition: all 0.5s ease-out;
      }
    }
    &__phone {
      color: $grayColor-contact;
      font-family: "Jost";
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.22px;
      padding-top: 20px;
      line-height: 300%;
    }
  }
}
@media (max-width: 1440px) {
  .header {
    &__logoText_2 {
      margin-top: 7px;
    }
  }
}
@media (max-width: 1024px) {
  .header {
    height: 125px;
  }
  .footer {
    margin-bottom: 120px;
    margin-top: 140px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 88px;
    &__logo {
      gap: 7px;
    }
    &__logoImg {
      width: 33px;
      height: 33px;
    }
    &__logoText_1 {
      font-size: 25px;
    }
    &__logoText_2 {
      margin-top: 0px;
      font-size: 21px;
    }
    &__menuLink {
      font-size: 17px;
    }
    &__menuList {
      gap: 30px;
    }
  }
  .footer {
    margin-bottom: 100px;
    margin-top: 120px;
    &__contact {
      &__heading {
        color: $grayColor;
      }
      &__address {
        color: $grayColor;
      }
      &__email {
        color: $grayColor;
      }
      &__phone {
        color: $grayColor;
      }
    }
  }
}

@media (max-width: 689px) {
  .footer {
    margin-bottom: 40px;
    &__items {
      display: flex;
      flex-direction: column;
      padding-left: 0px;
      padding-right: 0px;
      align-items: center;
      gap: 33px;
    }
    &__logos {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
    &__logo {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;
    }
    &__text {
      padding-bottom: 16px;
      text-align: center;
    }
    &__menuList {
      display: flex;
      gap: 35px;
      padding-top: 0px;
    }
    &__contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__heading {
        margin-bottom: 0px;
      }
      &__phone {
        padding-top: 10px;
      }
    }
    &__heading {
      margin-bottom: 0px;
    }
  }
}
@media (max-width: 425px) {
  .header {
    height: 77px;
    &__logo {
      gap: 6px;
    }
    &__logoImg {
      width: 25px;
      height: 25px;
    }
    &__logoText_1 {
      font-size: 20px;
    }
    &__logoText_2 {
      font-size: 16px;
    }
    &__menu {
      margin-top: -5px;
    }
    &__menuLink {
      font-size: 13px;
    }
    &__menuList {
      gap: 16px;
    }
  }
  .footer {
    margin-top: 100px;
    &__text,
    &__menuLink {
      font-size: 18px;
    }
    &__contact {
      &__address,
      &__phone,
      &__email {
        font-size: 18px;
      }
      &__heading {
        font-size: 22px;
      }
      &__phone {
        padding-top: 0px;
      }
      &__address {
        padding-bottom: 10px;
      }
    }
    &__logo {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 5px;
    }
    &__icons {
      display: flex;
      flex-direction: row;
      gap: 12%;
      justify-content: center;
    }
    &__icon_1 {
      width: 33px;
      height: 33px;
    }
    &__icon_2 {
      width: 37px;
      height: 37px;
    }
    &__icon_3 {
      width: 31px;
      height: 37px;
    }
    &__heading {
      font-size: 22px;
    }
  }
}
@media (max-width: 375px) {
  .header {
    height: 69px;
    &__logo {
      gap: 5px;
    }
    &__logoImg {
      width: 22px;
      height: 22px;
    }
    &__logoText_1 {
      font-size: 17px;
    }
    &__logoText_2 {
      font-size: 13px;
    }
    &__menu {
      margin-top: -6px;
    }
    &__menuLink {
      font-size: 12px;
    }
    &__menuList {
      gap: 14px;
    }
  }
  .footer {
    margin-top: 90px;
    &__heading {
      font-size: 23px;
      margin-bottom: 6px;
    }
    &__contact {
      &__heading {
        font-size: 23px;
        margin-bottom: 6px;
      }
    }
    &__logo {
      gap: 7px;
      margin-bottom: 2px;
    }
  }
}
@media (max-width: 320px) {
  .header {
    height: 61px;
    &__logo {
      gap: 4px;
    }
    &__logoImg {
      width: 20px;
      height: 20px;
    }
    &__logoText_1 {
      font-size: 15px;
    }
    &__logoText_2 {
      font-size: 11px;
    }
    &__menu {
      margin-top: -6px;
    }
    &__menuLink {
      font-size: 11px;
    }
    &__menuList {
      gap: 13px;
    }
  }
  .footer {
    margin-top: 80px;
    &__logo {
      gap: 5px;
      margin-bottom: 0px;
    }
  }
}
