@import "vars";
@import "fonts";

.header {
  // margin-top: 44px;
  // margin-bottom: 44px;
  // height: 50px;
  height: 138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  // padding-top: 44px;

  // &__menubar {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   padding-left: 16px;
  //   padding-right: 16px;
  // }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 16px;
    // transition: all 0.5s ease-out;

    &:hover .header__logoText_1 {
      color: $hoverColorTop;
      // color: rgb(91, 29, 52);
      // transition: all 0.5s ease-out;
    }
    &:active .header__logoText_1 {
      color: $clickColor;
      // color: $hoverColor;
      // transition: all 0.5s ease-out;
    }
    &:hover .header__logoText_2 {
      color: $hoverColorTop;
      // color: rgb(91, 29, 52);
      // transition: all 0.5s ease-out;
    }
    &:active .header__logoText_2 {
      color: $clickColor;
      // color: $hoverColor;
      // transition: all 0.5s ease-out;
    }
    &:hover .header__logoImg path {
      // fill: rgb(91, 29, 52);
      fill: $hoverColorTop;
      // transition: all 0.5s ease-out;
    }
  }

  &__logoImg path {
    transition: all 0.5s ease-out;
    // &:hover path {
    //   // fill: rgb(91, 29, 52);
    //   fill: $hoverColor;
    //   transition: all 0.5s ease-out;
    // }
    // &:active path {
    //   // fill: $hoverColor;
    //   fill: rgb(91, 29, 52);
    //   transition: all 0.5s ease-out;
    // }
  }

  &__logoText_1 {
    font-size: 36px;
    line-height: 125%;
    color: $headerColor;
    font-family: "Albertus Nova", "Jost";
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.22px;
    transition: all 0.5s linear;
  }
  &__logoText_2 {
    font-size: 30px;
    line-height: 125%;
    color: $headerColor;
    font-family: "Albertus Nova", "Jost";
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.22px;
    position: relative;
    transition: all 0.5s ease-in;
    // &:hover::after {
    //   content: "";
    //   height: 48px;
    //   width: 48px;
    //   position: absolute;
    //   transition: all 0.6s;
    //   background-image: url("../img/saxophone_icon.svg");
    //   background-position: center;
    //   background-repeat: no-repeat;
    //   background-size: contain;
    // }
  }

  &__menu {
    padding-right: 16px;
    // width: 624px;
    // height: 25px;
    // display: flex;
    // justify-content: flex-end;
  }

  &__menuList {
    // width: 590px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 48px;
  }

  &__menuLink {
    text-wrap: nowrap;
    color: $headerColor;
    text-align: center;
    font-family: "Albertus Nova", "Jost";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 25px */
    transition: all 0.5s ease-out;

    &:hover {
      color: $hoverColorTop;

      // color: rgb(91, 29, 52);
      // transition: all 0.5s ease-out;
    }
    &:active {
      color: $clickColor;
      // color: $hoverColor;
    }
  }
}

.footer {
  margin-bottom: 134px;

  &__text,
  &__menuLink,
  &__address,
  &__phone {
    @extend %styleTextJost;
  }

  // ---- footer__logos ----
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    // align-content: center;
    // gap: 126px;
  }

  &__text {
    max-width: 393px;
    padding-top: 18px;
    padding-bottom: 31px;
    line-height: 150%; /* 33px */
  }

  &__icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__iconlink {
    transition: all 0.5s ease-out;
  }

  &__iconlink:hover .footer__icon path {
    fill: $hoverColor;
    transition: all 0.5s ease-out;
  }

  &__iconlink:active .footer__icon path {
    fill: $clickColor;
  }

  &__menubar {
    text-align: center;
  }

  &__heading {
    color: $grayColor;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%; /* 31.25px */
    margin-bottom: 10px;
  }

  &__menuList {
    padding-top: 8px;
  }

  &__menuLink {
    line-height: 300%; /* 66px */
    transition: all 0.5s ease-out;

    &:hover {
      color: $hoverColor;
      transition: all 0.5s ease-out;
    }
    &:active {
      color: $clickColor;
    }
  }

  // ---- footer__contact ----
  &__contact {
    text-align: end;
    // min-width: 258px;
    // padding-left: 230px;
  }

  &__address {
    line-height: 150%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__email {
    font-family: "Jost";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
    transition: all 0.5s ease-out;

    &:hover {
      color: $hoverColor;
      transition: all 0.5s ease-out;
    }
    &:active {
      color: $clickColor;
      transition: all 0.5s ease-out;
    }
  }

  &__phone {
    padding-top: 20px;
    line-height: 300%;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 689px) {
  .header {
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    &__menu {
      padding-right: 0px;
    }
    &__logo {
      padding-left: 0px;
    }
  }
  .footer {
    margin-bottom: 40px;
    &__items {
      display: flex;
      flex-direction: column;
      padding-left: 0px;
      padding-right: 0px;
      align-items: center;
      gap: 33px;
    }
    &__logos {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__logo {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &__text {
      padding-bottom: 16px;
      text-align: center;
    }
    &__menuList {
      display: flex;
      gap: 35px;
      padding-top: 0px;
    }
    &__contact {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__heading {
      margin-bottom: 0px;
    }
    &__phone {
      padding-top: 10px;
    }
  }
}

@media (max-width: 320px) {
  .header {
    &__menuList {
      gap: 25px;
    }

    &__logoImg {
      display: none;
    }
  }
}
