@import "vars";
@import "fonts";

.header {
  height: 138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 16px;

    &:hover .header__logoText_1 {
      color: $hoverColorTop;
    }
    &:active .header__logoText_1 {
      color: $clickColor;
    }
    &:hover .header__logoText_2 {
      color: $hoverColorTop;
    }
    &:active .header__logoText_2 {
      color: $clickColor;
    }
    &:hover .header__logoImg path {
      fill: $hoverColorTop;
    }
  }

  &__logoImg path {
    transition: all 0.5s ease-out;
  }

  &__logoText_1 {
    font-size: 36px;
    line-height: 125%;
    color: $headerColor;
    font-family: "Albertus Nova", "Jost";
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.22px;
    transition: all 0.5s linear;
  }
  &__logoText_2 {
    font-size: 30px;
    line-height: 125%;
    color: $headerColor;
    font-family: "Albertus Nova", "Jost";
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.22px;
    position: relative;
    transition: all 0.5s ease-in;
    // &:hover::after {
    //   content: "";
    //   height: 48px;
    //   width: 48px;
    //   position: absolute;
    //   transition: all 0.6s;
    //   background-image: url("../img/saxophone_icon.svg");
    //   background-position: center;
    //   background-repeat: no-repeat;
    //   background-size: contain;
    // }
  }

  &__menu {
    padding-right: 16px;
    // width: 624px;
    // height: 25px;
    // display: flex;
    // justify-content: flex-end;
  }

  &__menuList {
    // width: 590px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 48px;
  }

  &__menuLink {
    text-wrap: nowrap;
    color: $headerColor;
    text-align: center;
    font-family: "Albertus Nova", "Jost";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 25px */
    transition: all 0.5s ease-out;

    &:hover {
      color: $hoverColorTop;

      // color: rgb(91, 29, 52);
      // transition: all 0.5s ease-out;
    }
    &:active {
      color: $clickColor;
      // color: $hoverColor;
    }
  }
}

.footer {
  margin-top: 150px;
  margin-bottom: 134px;

  &__text,
  &__menuLink,
  &__address,
  &__phone {
    color: #4d5053;
    font-family: "Jost";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.22px;
  }

  // ---- footer__logos ----
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    // align-content: center;
    // gap: 126px;
  }

  &__text {
    max-width: 393px;
    padding-top: 18px;
    padding-bottom: 31px;
    line-height: 150%; /* 33px */
  }

  &__icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__iconlink {
    transition: all 0.5s ease-out;
  }

  &__iconlink:hover .footer__icon path {
    fill: $hoverColor;
    transition: all 0.5s ease-out;
  }

  &__iconlink:active .footer__icon path {
    fill: $clickColor;
  }

  &__menubar {
    text-align: center;
  }

  &__heading {
    color: $grayColor;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%; /* 31.25px */
    margin-bottom: 10px;
  }

  &__menuList {
    padding-top: 8px;
  }

  &__menuLink {
    line-height: 300%; /* 66px */
    transition: all 0.5s ease-out;

    &:hover {
      color: $hoverColor;
      transition: all 0.5s ease-out;
    }
    &:active {
      color: $clickColor;
    }
  }

  // ---- footer__contact ----
  &__contact {
    text-align: end;
    // min-width: 258px;
    // padding-left: 230px;
  }

  &__address {
    line-height: 150%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__email {
    font-family: "Jost";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
    transition: all 0.5s ease-out;

    &:hover {
      color: $hoverColor;
      transition: all 0.5s ease-out;
    }
    &:active {
      color: $clickColor;
      transition: all 0.5s ease-out;
    }
  }

  &__phone {
    padding-top: 20px;
    line-height: 300%;
  }
}

@media (max-width: 1024px) {
  .header {
    height: 111px;
  }
  .footer {
    margin-bottom: 120px;
    margin-top: 140px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 90px;
    &__logoImg {
      width: 40px;
      height: 40px;
    }
    &__logoText_1 {
      font-size: 30px;
    }
    &__logoText_2 {
      font-size: 25px;
    }
    &__menuLink {
      font-size: 17px;
    }
    &__menuList {
      gap: 40px;
    }
  }
  .footer {
    margin-bottom: 100px;
    margin-top: 120px;
  }
}

@media (max-width: 689px) {
  .header {
    flex-direction: column;
    justify-content: center;
    gap: 0px;

    &__menu {
      padding-right: 0px;
      margin-left: 27px;
    }
    &__logo {
      padding-left: 0px;
    }
    &__menu {
      margin-top: -2px;
    }
    &__menuLink {
      font-size: 14px;
    }
    &__menuList {
      gap: 27px;
    }
  }
  .footer {
    margin-bottom: 40px;
    &__items {
      display: flex;
      flex-direction: column;
      padding-left: 0px;
      padding-right: 0px;
      align-items: center;
      gap: 33px;
    }
    &__logos {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
    &__logo {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;
    }
    &__text {
      padding-bottom: 16px;
      text-align: center;
    }
    &__menuList {
      display: flex;
      gap: 35px;
      padding-top: 0px;
    }
    &__contact {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__heading {
      margin-bottom: 0px;
    }
    &__phone {
      padding-top: 10px;
    }
  }
}
@media (max-width: 425px) {
  .header {
    height: 80px;
    gap: 0px;
    &__logoImg {
      width: 37px;
      height: 37px;
    }
    &__logoText_1 {
      font-size: 29px;
    }
    &__logoText_2 {
      font-size: 23px;
    }
    &__menu {
      margin-top: -3px;
      margin-left: 26px;
    }
    &__menuLink {
      font-size: 13px;
    }
    &__menuList {
      gap: 24px;
    }
  }
  .footer {
    margin-top: 100px;
    &__text,
    &__menuLink,
    &__address,
    &__phone,
    &__email {
      font-size: 18px;
    }
  }
}
@media (max-width: 375px) {
  .header {
    height: 70px;
    gap: 0px;
    &__logo {
      gap: 9px;
    }
    &__logoImg {
      width: 34px;
      height: 34px;
    }
    &__logoText_1 {
      font-size: 27px;
    }
    &__logoText_2 {
      font-size: 21px;
    }
    &__menu {
      margin-top: -4px;
      margin-left: 25px;
    }
    &__menuLink {
      font-size: 12px;
    }
    &__menuList {
      gap: 23px;
    }
  }
  .footer {
    margin-top: 90px;
    .footer__heading {
      font-size: 23px;
      margin-bottom: 6px;
    }
  }
}
@media (max-width: 320px) {
  .header {
    height: 60px;
    gap: 0px;
    &__logo {
      gap: 8px;
    }
    &__logoImg {
      width: 31px;
      height: 31px;
    }
    &__logoText_1 {
      font-size: 23px;
    }
    &__logoText_2 {
      font-size: 18px;
    }
    &__menu {
      margin-top: -6px;
      margin-left: 24px;
    }
    &__menuLink {
      font-size: 11px;
    }
    &__menuList {
      gap: 17px;
    }
  }
  .footer {
    margin-top: 80px;
  }
}
