$widthOfSite: 1200px;
$colorOfSite: #ffffff;
$darkColor: #292f36;
$grayColor: #4d5053;
$hoverColorTop: rgb(248, 199, 108);
$hoverColor: #e7c5a0;
$lightGrayColor: #f4f0ec;
$headerColor: rgb(91, 29, 52);
$clickColor: #96999c;
// $clickColor: rgb(165, 165, 233);
