$widthOfSite: 1200px;
$colorOfSite: #ffffff;
$darkColor: #292f36;
$dark-darkgrayColor: #333537;
$darkgrayColor: #383a3d;
$grayColor: #4d5053;
$grayColor-contact: #6b6f73;
$lightgrayColor: lightgray;
$hoverColorTop: rgb(248, 199, 108);
$hoverColor: #e7c5a0;
$lightGrayColor: #f4f0ec;
$headerColor: rgb(91, 29, 52);
$clickColor: #96999c;
